* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.books-list {
  width: 88%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;
  .book {
    width: 21%;
    height: 360px;
    margin: 2%;
    padding: 20px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    h4 {
      position: relative;
      top: -20px;
    }
  }
}
