@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// CONFIG
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
  top: -10px;
  background-color: #f2f2f2;
}

// NAVBAR
.navbar {
  position: fixed;
  left: 6%;
  right: 6%;
  width: 88%;
  height: 120px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #555;
  z-index: 1;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  .logo {
    font-size: 40px;
    color: #eee;
  }
  .new-book {
    .new-book-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 50px;
      background: #eee;
      cursor: pointer;
      border-radius: 8px;
      h3 {
        color: #555;
      }
    }
  }
}

// NEW BOOK FORM
.new-book-form {
  width: 600px;
  height: 400px;
  background: #f5f5f5;
  position: fixed;
  top: 20vh;
  margin-left: calc((100vw - 600px) / 2);
  z-index: 1;
  display: block;
  border: solid 3px #666;
  border-radius: 8px;
  form {
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    :nth-child(9) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

// class to hide the form
.new-book-form-hidden {
  display: none;
}

// MAIN SECTION
.main {
  position: relative;
  top: 120px;
  .books-list {
    width: 88%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    .book {
      width: 21%;
      height: 360px;
      margin: 2%;
      padding: 20px;
      padding-top: 40px;
      background-color: #ddd;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      border: solid 3px #aaa;
      border-radius: 8px;
      position: relative;
      h4 {
        position: relative;
        top: -18px;
      }
      h5 {
        color: #555;
      }
    }
  }
}

// blur body when form displays
.body-blur > * {
  filter: blur(5px);
}
.body-blur-none {
  filter: none;
}

// close button
.x-btn {
  height: 20px;
  width: 20px;
  position: absolute;
  background: radial-gradient(#aaa, #555);
  top: 5px;
  right: 5px;
  border-radius: 50%;
  cursor: pointer;
  &-stick {
    width: 13px;
    height: 2px;
    background: #ddd;
    border-radius: 2px;
    position: relative;
    top: 9px;
    left: 3px;
    transform: rotate(45deg);
    &::after {
      content: "";
      width: 13px;
      height: 2px;
      background: #eee;
      border-radius: 2px;
      position: relative;
      display: block;
      transform: rotate(90deg);
    }
  }
}

// read toggle
.read-toggle {
  height: 24px;
  width: 150px;
  position: absolute;
  top: 5px;
  left: 5px;
  text-align: center;
  border-radius: 5px;
  color: #222;
  font-weight: 500;
  cursor: pointer;
  &-true {
    background: rgba(0, 255, 0, 0.800);
    border: outset 3px #999;
  }
  &-false {
    background: rgba(255, 0, 0, 0.8);
    border: inset 3px #999;
  }
}
